{%extends 'base.html'%}

{% block content %}
{{block.super}}

<div class="row">
    {% for img in image %}
    <div class="col-md-3" style="margin-top: 3%">
        <img src="{{ img.image.url}}" alt="image" class="img-responsive" style="width: 320px; height: 215px;">
        <br>
        <button class="btn-success btn-block btn-lg" href = "{% url 'image' img.id %}">Image Details</button>
    </div> 
    {% empty  %}
    <p>Image is unavailable at the moment</p>
    {% endfor%}
</div>
{% endblock %}